################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hellovulkan/build/HelloVulkan_2015.VC.db
